{% extends "basic.html" %}
{%load static%}

{% block content %}
<div class="main">
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="{% static 'app/img/cake1.jpg' %}" alt="Cherry pie" style="width:100%">
          <h3>Cherry pie</h3>
          <p>Code:1001</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/cake2.jpg' %}" alt="Tropical Honolulu" style="width:100%">
          <h3>Tropical Honolulu</h3>
          <p>Code:1002</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/cake3.jpg' %}" alt="Macaroni pie" style="width:100%">
          <h3>Macaroni pie</h3>
          <p>Code:1003</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/cake4.jpg' %}" alt="Meringue pie" style="width:100%">
          <h3>Meringue pie</h3>
          <p>Code:1004</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'app/img/cake5.jpg' %}" alt="The Frankfurt wreath" style="width:100%">
          <h3>Frankfurt wreath</h3>
          <p>Code:1005</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/cake6.jpg' %}" alt="The chocolate cake" style="width:100%">
          <h3>Chocolate cake</h3>
          <p>Code:1006</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/cake7.jpg' %}" alt="Cream pie" style="width:100%">
          <h3>Cream pie</h3>
          <p>Code:1007</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/cookies1.jpg' %}" alt="Swedish coffee cookie" style="width:100%">
          <h3>Coffee cookie</h3>
          <p>Code:1008</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'app/img/cookies2.jpg' %}" alt="Raspberry cupcakes" style="width:100%">
          <h3>Raspberry cupcakes</h3>
          <p>Code:1009</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/cookies3.jpg' %}" alt="The eclair" style="width:100%">
          <h3>French e&rsquo;clair</h3>
          <p>Code:1010</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/cookies4.jpg' %}" alt="Cardamom buns" style="width:100%">
          <h3>Cardamom buns</h3>
          <p>Code:1011</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="{% static 'app/img/macaroons.jpg' %}" alt="Chocolate macarons" style="width:100%">
          <h3>Chocolate macarons</h3>
          <p>Code:1012</p>
        </div>
      </div>
    <!-- END GRID -->
    </div>

    
    <div class="content">
        <div class="container">
            <img src="{% static 'app/img/logo.png' %}" alt="hire me icon" style="width:100%">
            <span><a href="tel:+375257776655"><button class="btn">Get in touch</button></a></span>
          </div>
    </div>
    
    <!-- END MAIN -->
    </div>
    
    
{% endblock content %}

