{% extends "app/first.html" %}

{% block content %}
<div class="center">
<h2>О нас</h2>
<strong >
&ensp;&ensp;Baki.by работает только с юр.лицами и ИП и предлагает широкий ассортимент запчастей на автомобили МАЗ, КАМАЗ, ГАЗ, УАЗ, ЗИЛ. <br>
&ensp;&ensp;Мы работаем с ведущими российскими, белорусскими, китайскими заводами и оптовыми компаниями, что позволяет предложить конкурентную цену на  <br>
&ensp;&ensp;запасные части. <br>
&ensp;&ensp;Наши специалисты всегда готовы предоставить полную консультацию о предлагаемых запчастях и оперативно выполнить любой заказ. <br>
<br>
<br>
&ensp;&ensp;Для снабженцев автопредприятий и оптовых покупателей, работающих с нами на постоянной основе, предусмотрена гибкая система скидок и отсрочек платежей. <br>
&ensp;&ensp;Удобное расположение склада рядом с офисом поможет быстро оформить и получить товар. Близость от МКАД cделают удобными Ваши поездки к нам. <br>
&ensp;&ensp;Кроме того, мы осуществляем доставку в любой регион Беларуси<div class="br"></div>
<br>
<br>
<br>
                
&ensp;&ensp;Обращайтесь к нам и становитесь нашим постоянным клиентом! <br>
<br>
&ensp;&ensp;Данный сайт НЕ ЯВЛЯЕТСЯ интернет магазином,вся информация указана в рекламных целях. <br>
<br>
&ensp;&ensp;Информация о компании <br>
&ensp;&ensp;Название: <br>
&ensp;&ensp;Baki.by <br>
&ensp;&ensp;Тип компании: <br>
&ensp;&ensp;Торговая компания, Дистрибьютор / Реселлер, Представительство <br>
&ensp;&ensp;Количество сотрудников: <br>
&ensp;&ensp;11-50 человек <br>
&ensp;&ensp;Организационно-правовая форма и капитал <br>
&ensp;&ensp;Организационно-правовая форма: <br>
&ensp;&ensp;Общество с ограниченной ответственностью
</strong>
</div>             
{% endblock  %}               