{% extends 'app/first.html' %}
{% block content  %}
<div class="center">
    <br>
    <br>
    <br>
    <br>
    <span>&ensp;&ensp;&ensp; Название:</span>&ensp;&ensp;&ensp;<a href="#">Baki.by</a> <br>
                        
    <span>&ensp;&ensp;&ensp; Контактное лицо:</span>&ensp;&ensp;&ensp;<a href="#">Сергей</a><br>
                        
    <span>&ensp;&ensp;&ensp; Адрес:</span>&ensp;&ensp;&ensp;<a href="#">Илимская 13 - 87</a> <br>
                        
    <span>&ensp;&ensp;&ensp; Телефон:</span>&ensp;&ensp;&ensp;<a href="#">+375(33) 647-66-59</a><br>
                        
    <span>&ensp;&ensp;&ensp; Сайт компании:</span>&ensp;&ensp;&ensp;<a href="#">Baki.by</a> 
                        
    <span>&ensp;&ensp;&ensp; Skype:</span>&ensp;&ensp;&ensp;<a href="#">lDeron</a> <br>
    <div style="zoom: 1.5;margin-top: -42%; margin-left: 32%;"><a href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Минск</a><a href="https://yandex.by/maps/157/minsk/?ll=27.686185%2C53.889497&utm_medium=mapframe&utm_source=maps&z=17.73" style="color:#eee;font-size:12px;position:absolute;top:14px;">Минск — Яндекс Карты</a><iframe src="https://yandex.by/map-widget/v1/-/CCUBv2GP~A" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                

{% endblock  %}