{% extends 'app/first.html' %}
{% load static %}
{% block content  %}
<div class="center">
    <img class='im' src="{% static 'app/image/153667469_w350_h350_mmz.webp'%}" >
    <img class='im' src="{% static 'app/image/153667774_w350_h350_maz.webp' %}" >
    <img class='im' src="{% static 'app/image/bakor.webp' %}" >
    <img class='im' src="{% static 'app/image/153669193_w350_h350_mtz.webp' %}" >
    <img class='im' src="{% static 'app/image/153668793_w350_h350_zil.webp' %}" >
    <img class='im' src="{% static 'app/image/153668554_w350_h350_kamaz.webp' %}" >
    <img class='im' src="{% static 'app/image/153667312_w350_h350_yamz.webp' %}" >
    <img class='im' src="{% static 'app/image/fenox.webp' %}" >
    <img class='im' src="{% static 'app/image/153668511_w350_h350_gazel.webp' %}" >
    <img class='im' src="{% static 'app/image/153670062_w350_h350_drugie.webp' %}" >
</div>

{% endblock  %}