{% extends 'main/layout.html' %}

{% block title %}About{% endblock %}

{% block content%}
    <main>
        <div id="comments">
            <h1>About Us</h1>

            <h3 class="page-subtitle strong-green"><a href="/">Birch Valley Dental Clinic</a> is a 4 surgery practice offering both <a href="/">private and NHS dentistry in the heart of South West Scotland</a>. We have a large car park, easy ramp access to the practice, disability friendly toilets, baby changing facilities, a light and spacious waiting room, and a warm and friendly team ready to greet you.</h3>

            <figure class="page-image right" style="clear:right">
                <img src="/build/img/assets/about-us-2.jpg" alt="">
            </figure>

            <h2 class="inline-title" id="our-standards"><i class="fa fa-check"></i> Our Standards</h2>

            <p>Dental practices within the UK are strictly regulated when it comes to hygiene, safety and patient care. However, we are not content to simply meet the minimum requirements, but aim to excel and provide a high standard throughout. Our team dedicates considerable time and effort so that you will not have to concern yourself with anything other than your dental health.</p>

            <p>Our very modern building has been designed and fitted with the latest standards of hygiene in mind. Each surgery has been furnished with units that can be thoroughly disinfected between appointments and storage systems that minimise the possibility of any instruments becoming contaminated. We also have an individual room dedicated to the sterilisation of all re-usable items which meets the latest stringent government standards. Of course, these benefits are only as effective as our procedures, and our staff are well trained in how to clean the surgeries and protect our patients.</p>

            <p>Just as important as cleanliness is the standard of care our patients receive, and we aim to make you feel as welcome as we can during your visits. We realise that for some people their experience of attending the dentist has not been positive, and so from the moment you meet our reception staff until you leave the practice we strive to make you at ease. If you have any specific requests regarding your visit please feel free to speak to us about these.</p>

            <h2 class="inline-title" id="appointments"><i class="fa fa-pencil"></i> Appointments</h2>

            <p class="strong">To book an appointment call or email the practice:</p>

            <h6 class="info-title mst strong-green"><i class="fa fa-phone"></i> Tel: 01556 610917</h6>
            <h6 class="info-title msb strong-green"><i class="fa fa-envelope"></i> Email: <a href="mailto:info@birch-valley.co.uk">info@birch-valley.co.uk</a></h6>

            <p>Where it is unavoidable that you will miss your visit we would ask you to contact us as far in advance as possible, ideally 24 hours or more. We reserve the right to charge patients for late or missed attendance, and in repeat cases may decline to give any further appointments - however, we would prefer to avoid this. In return we will do our best to make sure you are seen promptly when you visit us.</p>

            <p class="strong mst mb" style="display:inline-block; font-size: 1.1em;padding:20px; border:4px solid #6F7768; border-radius:10px">We are now fully digital so ask that you arrive 10 minutes early if possible to complete some online forms. Please ensure you bring a list of any medications or reading aids with you.</p>

            <p>Missing appointments wastes time and resources which are needed for other patients. Our practice policy is that if, on more than one occasion, patients cancel with less than 24 hours' notice or do not attend an appointment, then will impose a fee. Please see reception for a copy of our failed to attend policy.</p>
            <p>We operate a Zero Tolerance Policy for patients who are violent, abusive, threatening or intimidating towards practice personnel, other patients or anyone else on the premises. Treatment will be refused and the appropriate authorities informed.</p>

            <h2 class="inline-title" id="emergency-dental-care"><i class="fa fa-exclamation-triangle"></i> Emergency Dental Care</h2>

            <figure class="page-image right">
                <img src="/build/img/assets/a2.jpg" alt="">
            </figure>

            <h3 class="inline-strong">We operate a daily emergency session from 12:00pm.</h3>
            <p>We request that where possible, patients phone in the morning to be triaged by our staff and where appropriate, they will be allocated an emergency appointment in accordance with national guidance published by the Scottish Dental Clinical Effectiveness Programme (SDECP)</p>
            <h3 class="inline-strong">Should you have a dental emergency outside of clinic hours, please telephone the practice on 01556 610 917 and the answerphone service will give you further instructions.</h3>

            <h2 class="inline-title" id="special-care-dentistry"><i class="fa fa-wheelchair"></i> Special Care Dentistry</h2>
            <p>Special Care Dentistry is the branch of Dentistry which provides preventive and treatment services for people who are unable to accept routine dental care because of some physical, intellectual, medical, emotional, sensory, mental or social impairment, or a combination of these. Our aim at Birch Valley is to provide a safe and calming environment, with access to care for all.</p>
            <p>Our clinic has disabled access and on-site parking.</p>

            <h2 class="inline-title" id="complaints"><i class="fa fa-comment-o"></i> Complaints</h2>
            <p>We aim to make your experience at the practice as pleasant as possible. However, should you have any complaints or comments, please contact the practice manager who will be able to deal with your complaint and talk you through our procedure. Alternatively, you can pick up a copy of our complaints policy from reception.</p>
                <br>
        </div>
		</main>
{% endblock %}
