body{
    overflow: hidden;
    background: url(https://www.nevsky-terminal.ru/upload/iblock/6dd/6dde05a99e92764c305a79c3ffe4ca35.jpg) no-repeat; 
    height: 100%;
    -webkit-box-shadow: 0px 0px 29px 100px rgba(0,  0,  0, 1) inset;
    -moz-box-shadow: 0px 0px 29px 100px rgba(0,  0,  0, 0.77) inset;
    box-shadow: 122px 59px 553px 123px rgb(43 22 27) inset;
}   



h1{
    font-size: 2em;
    font-weight: bold;
    color:aliceblue; /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
}


address{
    font-size: 1em;
    color:aliceblue;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
 
  }
.con{    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 11%;
    margin-top: -42%;
    background-position-x: 14%;
    background-position-y: 21%;
}
.header{
    width: 100%;
    background: #52c1f6;
    background: -webkit-repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);
    background: -moz-repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);
    background: repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form{
    margin-right: -424px;
    color: aliceblue;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
}
.menu{
    margin-top: 16px;
}
      



.content{
    
    width: 100%;
    height: 702px;
}

.center{
    width: 79%;
    height: 91%;
   
    background-color: aliceblue;
    border-radius: 10px;
   
    overflow: scroll;
    
    color: rgb(0, 2, 4);
    -webkit-text-shadow: 2px 2px 2px rgb(251, 251, 251);
    -moz-text-shadow: 2px 2px 2px rgb(251, 247, 247);
        text-shadow: 2px 2px 2px rgb(251, 246, 246);
    
    
    

}
.center::-webkit-scrollbar {
    width: 20px;
               
}
.center::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background: #52c1f6;
    background: -webkit-repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);
    background: -moz-repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);
    background: repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);
    background-clip: content-box;
    
  }
.shadow-text{
    margin-left: 34px;
    width: 0%;
    background: #52c1f6;
    background: -webkit-repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);
    background: -moz-repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);
    background: repeating-radial-gradient(circle farthest-corner at center center, #52c1f6 0%, #2b21e3 100%);   
    
    margin-top: -49px;
    color: aliceblue;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 0px;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.shadow-text:hover{
    background-color: #2967bd;
      color: #ffa000; /* Меняем цвет текста */
      -webkit-text-shadow: 2px 2px 2px #000;
      -moz-text-shadow: 2px 2px 2px #000;
          text-shadow: 2px 2px 2px #000;
    }
.footer{
    height: 80px;
    width: 78%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;

}
img{
    height: 46px;
}
strong{
    font-size: 1.1em;
    
}
span{border:darkblue;
    font-weight: bold;
    font-size: 1.1em;
}   
.im{
    height: 308px;
    width: 308px;

}
ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:-16px; /*делаем отступ сверху*/
    
    height: 50px; /*задаем высоту*/
  }
  a {
      font-size: 1.5em;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color:aliceblue; /*меняем цвет ссылок*/
    -webkit-text-shadow: 2px 2px 2px #000;
      -moz-text-shadow: 2px 2px 2px #000;
          text-shadow: 2px 2px 2px #000;
    padding:0px 80px; /*добавляем отступ*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 
    /* border: 1px solid black; добавляем бордюр справа */
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
  }
  a:hover {
      
    
      color: #ffa000;
  }
  
  li {
    float:right; /*Размещаем список горизонтально для реализации меню*/
  }