{% extends "base.html" %}

{% block content %}


    <div class="contentprograms">
        <table style width='1580px' height="666px">
            <tr>
                <td width="50%"></td>
                <td><p><h2>Book Your Trip in Iceland</h2></p> </td>
            <tr>
                <td width="50%"></td>
                <td><p><h3>Duration</h3></p> </td>
            </tr>
            <tr>
                <td width="50%"></td>
                <td>
                    <div class="textcolumn">
                        <ul>
                            <li>day tour</li> 
                            <li>2-15 days</li>
                            <li>19 days</li>
                            <li>21 days</li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tr>
                <td width="50%"></td>
                <td width="50%"><p><h3>Activities</h3></p></td>
            </tr>
            <tr>
                <td width="50%"></td>
                <td width="50%">
                    <div class="textcolumn">
                    <ul>
                        <li>Sightseeing</li>
                        <li>Ice caving</li>
                        <li>Caving</li>
                        <li>Glacier hiking</li>
                        <li>Hot Spring bathing</li>
                        <li>Snorkelling</li>
                        <li>Snowmobile</li>
                        <li>Cultural activity</li>
                        <li>Horse riding</li>
                        <li>Northern lights hunting</li>
                        <li>Whale watching</li>
                        <li>Boat trip</li>
                        <li>Self drive</li>
                        <li>Bird watching</li>
                        <li>Super jeep</li>
                        <li>Hiking</li>
                        <li>Helicopter</li>
                        <li>Ice climbing</li>
                        <li>Dog sledding</li>
                        <li>Airplane</li>
                        <li>Kayaking</li>
                        <li>Climbing</li>
                        <li>ATV</li>
                        <li>Fishing</li>
                        <li>Canoeing</li>
                        <li>Diving</li>
                        <li>Paragliding</li>
                        <li>Rafting</li>
                        <li>Biking</li>
                        <li>Zipline</li>
                        <li>Motorbiking</li>
                        <li>Skiing</li>
                    </ul>
                </div>
                </td>
            </tr>
            <tr>
                <td width="50%"></td>
                <td><p><h3>Attractions</h3></p> </td>
            </tr>
            <tr>
                <td width="50%"></td>
                <td>
                    <div class="textcolumn">
                        <ul>
                            <li>Reykjavik</li>
                            <li>Akureyri</li>
                            <li>Blue lagoon</li>
                            <li>Dettifoss</li>
                            <li>East Fjords</li>
                            <li>Egilsstadir</li>
                            <li>Golden circle</li>
                            <li>Jokulsarlon glacier lagoon</li>
                            <li>Landmannalaugar</li>
                            <li>Ring road</li>
                            <li>Skaftafell</li>
                            <li>Snaefellsnes</li>
                            <li>South coast</li>
                            <li>Thorsmork</li>
                            <li>Vatnajokull</li>
                            <li>Westfjords</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%"></td>
                <td></td>
            <tr>
                <tr>
                    <td width="50%"></td>
                    <td></td>
                <tr>
                <tr>
                    <td width="50%"></td>
                    <td></td>
                <tr>
                    <tr>
                        <td width="50%"></td>
                        <td></td>
                    <tr>
                    <tr>
                        <td width="50%"></td>
                        <td></td>
                    <tr>
                    
    

        </table>
        
        
        
    </div>

{% endblock content %}
    