{% extends "base.html" %}

{% block content %}
    <div class="contentguides">
        
        <table>
            <tr>
                <td></td>
                <td>
                    <a href="https://www.pinterest.ru/"><img src="../static/app/img/img1.jpg" alt="Ooops, not loaded" width="18%" height="30%"></a>
                    <a href="https://www.pinterest.ru/"><img src="../static/app/img/img2.jpg" alt="Ooops, not loaded" width="18%" height="30%"></a>
                    <a href="https://www.pinterest.ru/"><img src="../static/app/img/img3.jpg" alt="Ooops, not loaded" width="18%" height="30%"></a>
                    <a href="https://www.pinterest.ru/"><img src="../static/app/img/img4.jpg" alt="Ooops, not loaded" width="18%" height="30%"></a>
                    <a href="https://www.pinterest.ru/"><img src="../static/app/img/img5.jpg" alt="Ooops, not loaded" width="18%" height="30%"></a>
                    <a href="https://www.pinterest.ru/"><img src="../static/app/img/img7.jpg" alt="Ooops, not loaded" width="18%" height="30%"></a>
                    <a href="https://www.pinterest.ru/"><img src="../static/app/img/img6.jpg" alt="Ooops, not loaded" width="18%" height="30%"></a>
                    <a href="https://www.pinterest.ru/"><img src="../static/app/img/img8.jpg" alt="Ooops, not loaded" width="18%" height="30%"></a>
                    
                </td>
            </tr>
            
        </table>
        
    </div>
{% endblock content %} 